<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
       <div class="form-inputs">
            <div class="col-md-3">
               Correo Electrónico:
            </div> 
            <div class="col-md-9">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            label: false,
                            input_html: { :class => "input-text-custom", autocomplete: "email" },
                            error: 'Este campo es obligatorio',
                            placeholder: 'user@domain.com'%>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <div class="col-md-3">
               Nueva Contraseña:
            </div>
            <div class="col-md-9">
                <%= f.input :password,
                            required: false,
                            hint: "leave it blank if you don't want to change it",
                            label: "",
                            input_html: { :class =>"input-text-custom", autocomplete: "new-password" },
                            error: 'Este campo es obligatorio'%><br>
                <% if @minimum_password_length %>
                    <span><%= "#{@minimum_password_length} characters minimum" %></span>
                <% end %>
            </div>
            <div class="col-md-3">
               Confirmar Contraseña:
            </div>
            <div class="col-md-9">
                <%= f.input :password_confirmation,
                            required: false,
                            label: "",
                            input_html: { :class => "input-text-custom",autocomplete: "new-password" } %>
            </div>
            <div class="col-md-3">
                Contraseña Actúal:
            </div>
            <div class="col-md-9">
                <%= f.input :current_password,
                            required: false,
                            hint: "we need your current password to confirm your changes",
                            label: "",
                            input_html: { :class => "input-text-custom",autocomplete: "new-password" } %>
            </div>
      </div>
  </div>
  <%= render "form", f: f %>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
