<div class="container-form">
    <h2>Registro de Doctores</h2>
    <%= simple_form_for(@resource, as: resource_name, url: registration_path(resource_name), :html => { class: 'form-inline ', :multipart => true }) do |f| %>
      <%= f.error_notification %>
      <div class="divide-bar">
        <p class="titles-forms">Datos de Inicio de sesión</p>
      </div>
      <div class="row">
           <div class="form-inputs">
                <div class="col-md-3">
                   Correo Electrónico:
                </div> 
                <div class="col-md-9">
                    <%= f.input :email,
                                required: true,
                                autofocus: true,
                                label: false,
                                input_html: { :class => "input-text-custom", autocomplete: "email" },
                                error: 'Este campo es obligatorio',
                                placeholder: 'user@domain.com'%>
                </div>
          </div>
      </div>
      <%= render "form", f: f %>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%= render "doctors/shared/links" %>
</div>
