<div class="container-form">
  <h2>Inicio de Sesi칩n</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
       <div class="form-inputs">
          <div class="col-md-offset-3 col-md-9">
            <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email", placeholder: "Correo Electr칩nico",:class => "input-text-custom" } %>
          </div>
      </div>
    </div>
    <div class="row">
       <div class="form-inputs">
          <div class="col-md-offset-3 col-md-9">
            <%= f.input :password,
                required: true,
                label: false,
                input_html: { autocomplete: "current-password", placeholder: "Contrase침a",:class => "input-text-custom" } %>
          </div><br>
      </div>
    </div>
    <div class="row">
     <div class="form-inputs">
      <div class="col-md-offset-1 col-md-10">
        <%= f.input :remember_me, label: "Recordar Sesi칩n", as: :boolean if devise_mapping.rememberable? %>
      </div>
     </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Ingresar", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "doctors/shared/links" %>
</div>
