<div class="content">
<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image mini_header">
      </div>
      <div class="card-body">
        <div class="author">
          <p>
          	<%= image_tag @doctor.photo.url, class: "image"%>
            <h4><%= @doctor.full_name %></h4>
          </p>
          <h5>
            <%= @doctor.speciality %>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <legend class="text-center header">Perfíl</legend>
      </div>
      <div class="card-body">
        <form>
        <div class="divide-bar">
          <p class="titles-forms">Datos Personales</p>
        </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-5 pr-1">
              <div class="form-group">
                <label>Tipo de documento</label>
                <input type="text" class="form-control text-center" disabled="" value="<%= @doctor.document_type %>">
              </div>
            </div>
            <div class="col-md-5 px-1">
              <div class="form-group">
                <label>Número de documento</label>
                <input type="text" class="form-control text-center" disabled="" value="<%= @doctor.document %>">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-5 pl-1">
              <div class="form-group">
                <label>Fecha de nacimiento </label>
                <input type="text" class="form-control text-center" disabled="" value="<%= @doctor.birth_date %>">
              </div>
            </div>
          	<div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Género </label>
                <input type="text" class="form-control text-center" disabled="" value="<%= @doctor.genre %>">
              </div>
            </div>
          </div>
          <div class="divide-bar">
            <p class="titles-forms">Datos Profesionales</p>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-5 pl-1">
              <div class="form-group">
                <label>Especialidad </label>
                <input type="text" class="form-control text-center" disabled="" value="<%= @doctor.speciality %>">
              </div>
            </div>
            <div class="col-md-5 pl-1">
              <div class="form-group">
                <label>Años de Experiencia </label>
                <textarea class="form-control text-center" disabled=""><%= @doctor.years_experience %></textarea>
              </div>
            </div>
          </div>
          <div class="divide-bar">
            <p class="titles-forms">Contacto de Trabajo</p>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-5 pl-1">
               <div class="form-group">
                <label>País</label>
                <input type="text" class="form-control text-center" disabled="" value="<%= @doctor.country %>">
              </div>
            </div>
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Ciudad </label>
                <input type="text" class="form-control text-center" disabled="" value="<%= @doctor.city %>">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-10 pl-1">
              <div class="form-group">
                <label>Dirección </label>
                <textarea class="form-control text-center" disabled=""><%= @doctor.address %></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-5 pl-1">
              <div class="form-group">
                <label>Teléfono Local </label>
                <input type="text" class="form-control text-center" disabled="" value="<%= @doctor.local_phone %>">
              </div>
            </div>
            <div class="col-md-5 pl-1">
              <div class="form-group">
                <label>Teléfono Célular </label>
                <input type="text" class="form-control text-center" disabled="" value="<%= @doctor.cell_phone %>">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <%= link_to "Actualizar Perfíl", edit_doctor_registration_path, class: "btn btn-primary btn-round" %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
