<!-- main-slider -->
<div class="padre skdslider">
	<ul id="demo1">
		<li>
			<img class="custom-img-banner" src= <%= image_path("slider/1.png") %> />
			  <div class="slide-desc">
				<!--<h3>Has tu compra en linea y recibelo en la comodidad de tu casa</h3>-->
			</div>
		</li>
		<li>
			<img class="custom-img-banner" src= <%= image_path("slider/2.jpeg") %> />
			  <div class="slide-desc">
				<!--<h3>Has tu compra en linea y recibelo en la comodidad de tu casa</h3>-->
			</div>
		</li>
		<li>
			<img class="custom-img-banner" src= <%= image_path("slider/3.jpeg") %>/>
			  <div class="slide-desc">
				<!--<h3>Has tu compra en linea y recibelo en la comodidad de tu casa</h3>-->
			</div>
		</li>
		<li>
			<img class="custom-img-banner" src= <%= image_path("slider/4.jpeg") %> />
			  <div class="slide-desc">
				<!--<h3>Has tu compra en linea y recibelo en la comodidad de tu casa</h3>-->
			</div>
		</li>
		<li>
			<img class="custom-img-banner" src= <%= image_path("slider/5.jpg") %>/>
			  <div class="slide-desc">
				<!--<h3>Has tu compra en linea y recibelo en la comodidad de tu casa</h3>-->
			</div>
		</li>
		<li>
			<img class="custom-img-banner" src= <%= image_path("slider/6.jpg") %>/>
			<!--Slider Description example-->
			<div class="slide-desc">
				<!--<h3>Agenda tus consultas médicas online</h3>-->
			</div>
		</li>
	</ul>
</div>